<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="toEventLobby(eventInfo)">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title (click)="checkEventInfo()">{{ eventInfo.eventName }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openShareLinkModal()">
          <ion-icon name="link"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>
 
<ion-content #content >
  <ion-grid>
    <ion-row *ngFor="let message of messages">
      
      <ion-col col-9 *ngIf="message.from !== userInfo.username" class="message other_message" >
        <span class="user_name">{{ message.from }}:</span><br>
        <span>{{ message.text }}</span>
        <div class="time">{{message.created | date:'MM.dd hh:mm'}}</div>
      </ion-col>
 
      <ion-col offset-3 col-9 *ngIf="message.from === userInfo.username" class="message my_message">
        <span class="user_name">{{ message.from }}:</span><br>
        <span>{{ message.text }}</span>
        <div class="time">{{message.created | date:'MM.dd hh:mm'}}</div>
      </ion-col>
 
    </ion-row>
  </ion-grid>
 
</ion-content>
 
<ion-footer>
  <ion-toolbar>
    <ion-row class="message_row">
      <ion-col col-9>
        <ion-item no-lines>
          <ion-textarea type="text" placeholder="Message" [(ngModel)]="message"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <button ion-button clear color="primary" (click)="sendMessage()" [disabled]="message === ''">
        Send
      </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>