page-chatroom {
    
    .message {
        padding: 10px !important;
        transition: all 250ms ease-in-out !important;
        border-radius: 10px !important;
        margin-bottom: 10px !important;

        &.my_message {
            background: #dcf8c6 !important;
            color: #000 !important;
            font-size: 1.8rem;

            .user_name {
                color: #37b8af;
                font-size: 1rem;
            }

        }
        &.other_message {
            background: #ece5dd !important;
            color: #000 !important;
            font-size: 1.8rem;

            .user_name {
                color: #d8582b;
                font-size: 1rem;
            }
        }

    }

    .time {
        color: #afafaf;
        float: right;
        font-size: small;
    }
    .message_row {
        background-color: #fff;
    }
}
