<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons start>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Event Lobby</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="toCreateEventPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="event-lobby">
  <div class="banner">
    <h2>Welcome to WeMeet!</h2>
  </div>
  <ion-card>
    <ion-card-header>
      All Events
    </ion-card-header>
    <ion-list *ngIf="eventList.creates?.length !== 0">
      <ion-list-header class="sub-header">Events created by You</ion-list-header>
      <ion-item-group>
        <button ion-item (click)="toEventRoom(item)" *ngFor="let item of eventList.creates">
          <ion-thumbnail item-start>
            <img src="assets/imgs/event.png">
          </ion-thumbnail>
          {{ item.eventName }}
        </button>
      </ion-item-group>
    </ion-list>
    <ion-list *ngIf="eventList.invited?.length !== 0">
      <ion-list-header class="sub-header">Events invited by Somebody</ion-list-header>
      <ion-item-group>
        <button ion-item (click)="toEventRoom(item)" *ngFor="let item of eventList.invited">
          <ion-thumbnail item-start>
            <img src="assets/imgs/event.png">
          </ion-thumbnail>
          {{ item.eventName }}
        </button>
      </ion-item-group>
    </ion-list>
  </ion-card>


</ion-content>