



<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons start>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Event Lobby</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="toCreateEventPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to WeMeet!</h2>
  <ion-list *ngIf="eventList.creates?.length !== 0">
    <ion-list-header>Events created by You</ion-list-header>
    <ion-item-group>
      <ion-item *ngFor="let item of eventList.creates">
        <button (click)="toEventRoom(item)">
          {{ item.eventName }}
        </button>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <ion-list *ngIf="eventList.invited?.length !== 0">
    <ion-list-header>Events invited by Somebody</ion-list-header>
    <ion-item-group>
      <ion-item *ngFor="let item of eventList.invited">
        <button (click)="toEventRoom(item)">
          {{ item.eventName }}
        </button>
      </ion-item>
    </ion-item-group>
    
  </ion-list>

  
</ion-content>
