<ion-header>
  <ion-navbar>
    <ion-title>Event Lobby</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to WeMeet!</h2>
  <button ion-button (click)="getUserInfo()">Get User Info</button>
  <button ion-button (click)="logout()">Logout</button>

  <ion-list>
    <ion-list-header>Events</ion-list-header>
    <ion-item-group>
      <ion-item *ngFor="let item of eventList.creates">
        {{ item.eventName }}
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item *ngFor="let item of eventList.invited">
        {{ item.eventName }}
      </ion-item>
    </ion-item-group>
    <button ion-button (click)="logout()">Logout</button>
  </ion-list>



  
</ion-content>
