page-login {

    .login-background {
        background-image: url('../assets/imgs/food-salad-dinner-eating.jpg');
    }

    .app-header {
        text-align: center;
        font-size: 4.5vh;
        color: color($colors, light, base);
        font-weight: bold;
        margin: 10% 0%;
    }

    .container {
        margin-top: 50%;
        height: 100%;
        text-align: center;

    }

    

}
